@import 'susy';
@import 'compass';
@import 'mixins';
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400);

$bg-color: #fff;
$contrast-color: #000 !default;

html {
  font-family: "Quicksand";
}

body {
  background-color: $bg-color;
}

.center {
  text-align: center;
}

.name {
  @extend .center;
  font-size: 1.25em;
}

.banner {
  background-color: #000;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, .8);
  @extend .center;
}

.banner-image {
  padding: .5em 0;
  width: 50%;
}

.page {
  @include container(75em);
}

.team {
  @include clearfix;
  padding: 10% 0 15% 0;
}

.member {
  @include span(2 of 10);
  @include gutter(6em);
  @media screen and (max-width: 820px) {
    @include span(4 of 12);
    @include gutter(6em);
    padding-bottom: 3.5em;
  }

  @media screen and (max-width: 550px) {
    @include span(6 of 12);
    @include gutter(6em);
    padding-bottom: 3.5em;

    &:last-child {
      @include pre(25%);
    }
  }

  &.last {
    @include last;
  }

  img {
    width: 100%;
    @include border-radius(50%);
  }
}

.totally-centered {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.section-header {
  span {
    font-size: 5 * $base-unit;
  }
}

.bordered {
  border: 1px dotted $contrast-color;
}


.banner {
  width: 100%;
}

.principles {
  @include container(60em);
  @include pad(2em);

  img {
    @extend .totally-centered;
  }

  p {
    font-size: 3 * $base-unit;
    @include opacity(.6);
    line-height: 150%;
  }
}

.principle {
  padding: 1.5em 0;

  h2 {
    margin-bottom: 0;
    font-size: 2em;
  }
}

.footer {
  color: $contrast-color;
  background-color: black;
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: center;

  h2 {
    font-size: 2.5em;
  }
}

.social-links {
  position: relative;
  @include pad(4em);

  &.footer-links {
    @include container(10em);
    margin: 1.5em auto;
    padding-bottom: 1.5em;
  }
}

.icon-github {
  top: 0;
  position: absolute;
  right: 40%;
  background: url('../images/github2.png') no-repeat;
  @include prefix(2em);
  padding-top: 2em;
}

.icon-twitter {
  top: 0;
  left: 0;
  position: absolute;
  background: url('../images/twitter.png') no-repeat;
  @include prefix(2em);
  padding-top: 2em;
}

.icon-github-white {
  top: 0;
  right: 42%;
  position: absolute;
  background: url('../images/github2_white.png') no-repeat;
  @include prefix(2em);
  padding-top: 2em;
}

.icon-twitter-white {
  top: 0;
  left: 0;
  position: absolute;
  background: url('../images/twitter_white.png') no-repeat;
  @include prefix(2em);
  padding-top: 2em;
}

.icon-medium-white {
  top: 0;
  right: 0;
  position: absolute;
  background: url('../images/medium.png') no-repeat;
  @include prefix(2em);
  padding-top: 2em;
}

.icon-linkedin {
  top: 0;
  right: 0;
  position: absolute;
  background: url('../images/linkedin.png') no-repeat;
  @include prefix(2em);
  padding-top: 2em;
}


.icon {
  width: 33%;
}
