@import 'susy';
@import 'compass';
@import 'mixins';

$bg-color: #fff;
$contrast-color: #000 !default;

html {
  font-family: "Quicksand";
}

body {
  background-color: $bg-color;
}

.center {
  text-align: center;
}

.name {
  @extend .center;
  font-size: 1.25em;
}

.banner {
  background-color: #000;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, .8);
  @extend .center;
}

.banner-image {
  width: 50%;
  padding: .5em 0;
}

.page {
  @include container(75em);
}

.team {
  @include clearfix;
  padding: 10% 0 10% 0;
}

.member {
  @include span(2 of 10);
  @include gutter(6em);

  &.last {
    @include last;
  }
  img {
    width: 100%;
    @include border-radius(50%);
  }
}

.totally-centered {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.section-header {
  span {
    font-size: 5 * $base-unit;
  }
}

.bordered {
  border: 1px dotted $contrast-color;
}


.banner {
  width: 100%;
}

.principles {

  img {
    @extend .totally-centered;
  }

  p {
    font-size: 3 * $base-unit;
    @include opacity(.6);
    line-height: 150%;
  }
}

.principle {
  h2 {
    margin-bottom: 0;
    font-size: 2em;
  }
}

.social-links {
  position: relative;
  @include pad(4em);
}

.icon-github {
  top: 0;
  position: absolute;
  right: 40%;
  background: url('../images/github2.png') no-repeat;
  @include prefix(2em);
  padding-top: 2em;
}

.icon-twitter {
  top: 0;
  left: 0;
  position: absolute;
  background: url('../images/twitter.png') no-repeat;
  @include prefix(2em);
  padding-top: 2em;
}

.icon-linkedin {
  top: 0;
  right: 0;
  position: absolute;
  background: url('../images/linkedin.png') no-repeat;
  @include prefix(2em);
  padding-top: 2em;
}
