@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,600italic,700,700italic,800,800italic);
@import '../bower_components/foundation/scss/foundation';
@import 'compass/css3';

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 600;
}

.title {
  margin-bottom: 1em;
}

h5 {
  font-weight: 600;
}

.banner {
  padding: 50px;
  background-color: black;
  border: none;
  
  h1 {
    color: $white;
    font-weight: 900;
    font-size: rem-calc(80);
    border-left: 15px solid white;
    padding-left: 0.1em;
    line-height: 0.8em;
  }

  span {
   font-weight: 900;
   font-size: rem-calc(40);
  }
}

.team {
  margin-bottom: 2em;
}

.member {
  text-align: center;
}

.member-name {
  font-weight: 100;
}

.avatar {
  border-radius: 50%;
  width: 50%;
  @include box-shadow(grey 1px 1px 10px);
}

.social-icon {
  padding: 0.25em 0.25em;
}

.referals {
  img {
    padding: 0 1em;
  }
}