@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,600italic,700,700italic,800,800italic);
@import '../bower_components/foundation/scss/foundation';
@import 'compass/css3';

$orange: #EB974E;
$strong-orange: #D35400;
$flat-grey: #ECF0F1;

body {
  font-family: 'Open Sans', sans-serif;
  background: $flat-grey;
}

h1, h2 {
  font-weight: 800;
}

.title {
  margin-bottom: 1em;
}

.claim {
  font-weight: 300;
}

h2 {
  font-size: 48px;
}

h5 {
  font-weight: 600;
}

p {
  font-size: 18px;
}

hr {
  border: solid $orange;
  border-width: 1px 0 0;

}

.container { 
  margin-top: 2em;
 }

 section.row {
  margin-bottom: 1em;
 }

.banner {
  border-bottom: 2px solid $strong-orange;
  padding: 50px 50px 0 50px;
  background-color: black;
  
  h1 {
    color: $white;
    font-weight: 900;
    font-size: rem-calc(80);
    border-left: 15px solid $strong-orange;
    padding-left: 0.1em;
    line-height: 0.8em;
  }

  span {
   font-weight: 900;
   font-size: rem-calc(40);
  }
}

.team {
  margin-bottom: 2em;
}

.member {
  text-align: center;

  //@include box-shadow(grey 1px 1px 10px);
}

.member-name {
  font-weight: 100;
  font-size: rem-calc(20);
}

.filter {
  filter: grayscale(100%);
}

.values {
  margin-top: 5.5em;
}

.avatar {
  width: 100%;
  border-bottom: 1px solid grey; 
}

.social-icon {
  padding: 0.25em 0.25em;
}

.referals {
  img {
    padding: 0 1em;
  }

  h3 {
    font-weight: 600;
  }

  margin-bottom: 2em;
}

.top-bar {
  background: $black ;
}

.top-bar-section {
}

.top-bar-section ul li > a {
  font-weight: 400;
  font-size: rem-calc(20);
  background: none;
}

.top-bar-section ul li {
  background: none;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  color: $strong-orange;
  background: none;
    
  &:hover {
    background: none;
    color: $orange;
  }
}  

.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: linear-gradient($strong-orange, $strong-orange) no-repeat;
  background-size: 93% 8px;
  background-position: 7px 1.9em;

  &:hover {
    color: $orange;
    background: linear-gradient($strong-orange, $strong-orange) no-repeat;
    background-size: 93% 8px;
    background-position: 7px 1.9em;
  }
}
