@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,600italic,700,700italic,800,800italic);
@import '../bower_components/foundation/scss/foundation';
@import 'compass/css3';

$orange: #EB974E;
$strong-orange: #D35400;
$flat-grey: #ECF0F1;

body {
  font-family: 'Open Sans', sans-serif;
  background: $flat-grey;
}

h1, h2 {
  font-weight: 800;
}

.title {
  margin-bottom: 1em;
}

.claim {
  font-weight: 300;
  font-size: rem-calc(22);
  color: $orange;
  padding: 2em;
  text-align: center;
  background: hsla(0,0%,100%,.3);
  box-shadow: 0 0 0 2px hsla(0,0%,100%,.3), 0 0 0 4px $orange;
}

h2 {
  font-size: 48px;
}

h5 {
  font-weight: 600;
}

p {
  font-size: 18px;
}

hr {
  border: solid $orange;
  border-width: 1px 0 0;
}

footer {
  padding: 1em calc(50% - 680px);
  max-width: none;
  height: 550px;
}

.container { 
  margin-top: 2em;
  margin: 1em calc(50% - 600px);
  @media #{$medium-only} {
    margin: 1em calc(50% - 340px)
  }
 }

 section.row {
  margin-bottom: 1em;
 }

.banner {
  border-bottom: 2px solid $strong-orange;
  padding: 50px 50px 0 50px;
  background-color: black;
  @media #{$medium-only} {
    margin-bottom: 3em;
  }
  
  h1 {
    color: $white;
    font-weight: 900;
    font-size: rem-calc(80);
    border-left: 15px solid $strong-orange;
    padding-left: 0.1em;
    line-height: 0.8em;
  }

  span {
   font-weight: 900;
   font-size: rem-calc(40);
  }
}

.member {
  text-align: center;
  margin-bottom: 3em;
  @media #{$medium-only} {
    margin-left: 1em;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

  //@include box-shadow(grey 1px 1px 10px);

.member-first {
  margin-top: 1.2em;
  @media #{$medium-only} {
    margin-top: 0;
  }
}

.member-name {
  font-weight: 200;
  font-size: rem-calc(20);
  padding-top: .5em;
}

.filter {
  filter: grayscale(100%);
}

.values {
  margin-top: 5.5em;
  @media #{$medium-only} {
    margin-top: 0;
  }
}

.avatar {
  width: 100%;
}

.social {
  margin-top: .5em;
}

.social-icon {
  padding-left: 1em;
}

.referals {
  img {
    padding: 0 1em;
  }

  h3 {
    font-weight: 600;
  }

  margin-bottom: 2em;
}

.top-bar {
  background: $black ;
}

.top-bar-section {
}

.top-bar-section ul li > a {
  font-weight: 400;
  font-size: rem-calc(20);
  background: none;
}

.top-bar-section ul li {
  background: none;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  color: $strong-orange;
  background: none;
    
  &:hover {
    background: none;
    color: $orange;
  }
}  

.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: linear-gradient($strong-orange, $strong-orange) no-repeat;
  background-size: 93% 8px;
  background-position: 7px 1.9em;

  &:hover {
    color: $orange;
    background: linear-gradient($strong-orange, $strong-orange) no-repeat;
    background-size: 93% 8px;
    background-position: 7px 1.9em;
  }
}

.f-zebra {
  height: 120px;
  background: linear-gradient(to bottom, $strong-orange 0%, $strong-orange 50%, transparent 50%, transparent 100%);
  background-size: 100% 20%;
  clear: both;
  margin-top: -0.375rem;
  margin-bottom: -1.3rem;
}
