@import 'variables';

@mixin box-size($w, $h) {
  width: $box-unit * $w + $base-unit * ($w - 1);
  height: $box-unit * $h + $base-unit * ($h - 1);
}

@mixin leftimg {
  @include clearfix;
  .four-plane {
    float: left;
    margin-left: $base-unit;
  }

  .four {
    float: left;
  }
}

@mixin rightimg {
  @include clearfix;
  .four-plane {
    float: left;
  }

  .four {
    float: left;
    margin-left: $base-unit;
  }
}

@mixin person {
  color: $bg-color;
  background-color: #151515;
  float: left;
  margin-left: $base-unit;

  &:first-child {
    margin-left: 0;
  }

  text-align: center;

  img {
    border-radius: 50%;
    margin-top: $base-unit * 2;
    width: 50%;
  }

  .name {
    font-size: 4 * $base-unit;
    margin-top: 2 * $base-unit;
  }

  p {
    margin-left: $base-unit;
    margin-right: $base-unit;
  }
}
